.buttons {
  color: palevioletred;
  font-size: 36px;
  font-family: "Coiny";
}

body {
  background-image: url('house.gif'); background-repeat:repeat;
}
#main {
  background-color: palegoldenrod;
  border: 1px solid black;
  font-family: "Coiny";
  font-size: 24px;
}


#blank {
  text-align: center;
  border: 2px solid black;
}
