.buttons {
  color: palevioletred;
  font-size: 36px;
  font-family: "Coiny";
}
select {
  width: 50%;
  text-align: center;
  font-size: 12px;
}
#body {
  background-image: url('house.gif'); background-repeat:repeat;
}
#main {
  background-color: #3b5e92;
  border: 1px solid black;
  font-family: "Coiny";
  font-size: 24px;
  color: white;
}


#blank {
  text-align: center;
  border: 2px solid black;
}
